body {
    background: linear-gradient(to left, yellow, red);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    font-weight:400;
    line-height: 1.75rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
}

h1 {
    text-align: center;
    line-height: 2.25rem;
}

.center {
    text-align: center;
}

hr {
    border: dotted 2px;
    padding: auto 40% auto 40%;
}

b, u {
    color: blue;
}

#no {
    color: black;
}